.stories__list-item {
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1em;
  border: 2px solid #5101d1;
}

.stories__list-item p {
  margin: 6px 0;
}

.stories__list-item.correct {
  border-color: green;
}

.stories__list-item.incorrect {
  border-color: red;
}

.stories__full-text {
  padding: 4px;
  border-radius: 4px;
  line-height: 1.5em;
}

.stories__full-text span {
  padding: 1px 4px;
  border-radius: 4px;
}
.stories__full-text .actor {
  background-color: rgb(185, 126, 240);
}

.stories__full-text .action {
  background-color: rgb(245, 187, 100);
}

.stories__full-text .benefit {
  background-color: rgb(147, 247, 133)
}

.stories__list-item a{
  text-decoration: none;
}

