@import "variables.scss";

body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin: 0 4px 1rem 4px;
}

.form-errors {
  margin: 4px;
  font-size: 0.9em;
  color: rgba(151, 8, 8, 0.911);
}

.form-actions button,
.btn {
  background: $normal-color;
  font: inherit;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.form-select{
  background: $normal-color;
  font: inherit;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.form-select::placeholder{
  color: white;
}

.form-actions .btn.btn-secondary {
  background: $normal-color;
  border-color: $normal-color;
}

.form-actions .btn.btn-secondary:hover,
.form-actions .btn.btn-secondary:active,
.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: $light-color;
  border-color: $light-color;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}